<a class="waiting label label-default" href="#">Ожидает</a>
<a class="complete label label-default" href="#">Выполнено</a>
<a class="in-progress label label-default" href="#">В процессе</a>
<span class="title">{{title}}</span>
<a href="#" class="delete badge">&times;</a>
